{% extends 'base.html' %}

{% block title %}JumbleApp{% endblock title %}

{% block content %}

  <section class="section" >
    <h1 class="title">Private Chat</h1>
    <br/>
    <h2>with @{{user.username}}</h2>
  </section>    
    
  <section class="section chat-container">
    
    <div class="messages-container" id="id_chat_item_container">
        </div>

    <div class="input-container">
        <input type="text" id="id_message_send_input" placeholder="Type your message..." />
        <button type="submit" id="id_message_send_button">Send</button>
    </div>
</section>


    <script>
      const chatSocket = new WebSocket("ws://" + window.location.host + "/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };
      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };
      document.querySelector("#id_message_send_input").focus();
      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
        }
      };
      
document.querySelector("#id_message_send_button").onclick = function (e) {
  var messageInput = document.querySelector("#id_message_send_input").value;
  var receiverUsername = "{{other_user.username}}"; // Get the receiver's username from Django
  chatSocket.send(JSON.stringify({ 
      message: messageInput, 
      username: "{{request.user.username}}",
      receiver: receiverUsername 
  }));
};
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var div = document.createElement("div");
        div.innerHTML = data.username + " : " + data.message;
        document.querySelector("#id_message_send_input").value = "";
        document.querySelector("#id_chat_item_container").appendChild(div);
      };
    </script>
    {% endblock content %}
