{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}JumbleApp{% endblock title %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0px;
            padding: 0px;
            text-decoration: none;
        }
        .profile_picture{
          min-width: 300px;
        }
        .profile_container{
          display: flex;
          flex-direction: row;
        }
        .branding{
          font-size: 28px;
          font-family: "Playwrite NZ", cursive;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
          margin: 4px;
          margin-left:10px ;
          margin-right:10px ;
        }


    </style>
</head>
<body>
  
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            
            <h1 class="branding"> Jumble </h1>
      
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/posts">
              Posts
            </a>
      
            <a href="{% url 'group_chat_page'%}" class="navbar-item">
              Group Chat
            </a>
            <a href="{% url 'private_chat_list'%}" class="navbar-item">
              Private Chat
            </a>
      
            {% comment %} <a class="navbar-item" href="{% url 'profile' %}">
              My profile
            </a> {% endcomment %}
      
          </div>
      

          <div class="navbar-end">
            {% if not user.is_authenticated %}
            
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary" href="{% url 'register' %}">
                    Register
                  </a>
                  <a class="button is-light" href="{% url 'user_login' %}">
                    Log in
                  </a>
                </div>
              </div>
            
            {% else %}
            
              {% comment %} <div class="navbar-item">
                <div class="buttons">

                  <a class="button is-primary" href="{% url 'profile' %}">
                    Profile
                  </a>

                  <form  method="post" class="form" action="{% url 'user_logout' %}">
                    {% csrf_token %}
                    <div class="control">
                      <button class="button is-danger" type="submit">Log Out</button>
                    </div>
                  </form>

                </div>
              </div> {% endcomment %}
              <div class="navbar-item">
                <a href="{% url 'create_post' %}"><button class="button is-primary">Create Post</button></a>
              </div>

              <div class="navbar-item">
                <div class="dropdown is-right">
                    <div class="dropdown-trigger">
                        <button class="button is-primary" aria-haspopup="true" aria-controls="profile-dropdown">
                            <span>@{{user.username}}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="profile-dropdown" role="menu">
                        <div class="dropdown-content">
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a> 
                            <button href="#"  action="toggleDarkMode()" class="dropdown-item toggle-dark-mode" >Toggle Dark Mode</button>
                            <a href="{% url 'user_logout' %}" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            

            {% endif %}

          </div>
        </div>
      </nav>

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    <script>

      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $dropdowns = Array.prototype.slice.call(document.querySelectorAll('.dropdown'), 0);
    
        // Add a click event on each of them
        $dropdowns.forEach(el => {
            el.addEventListener('click', () => {
                el.classList.toggle('is-active');
            });
        });
    });
    
    
    </script>

</body>
</html>
