{% extends 'base.html' %}

{% block title %}JumbleApp{% endblock title %}

{% block content %}
    
    <section class="section" style="max-width: 70%;">
      <h1 class="title">Posts</h1>
      {% for post in posts %}
        <div class="card">

          {% if post.image %}
            <div class="card-image">
              <figure class="image">
                <img src="{{post.image.url}}" alt="Placeholder image"/>
              </figure>
            </div>
          {% endif %}

          {% if post.video %}
          <div class="card-image">
            <figure class="image is-16by9">  
              <video controls>
                <source src="{{ post.video.url }}" type="video/mp4"> 
                Your browser does not support the video tag.
              </video>
            </figure>
          </div>
          
          {% endif %}

          <div class="card-content">
            <div class="media">
              
              <div class="media-left">
                <figure class="image is-48x48">
                    {% if post.author.profile_picture %}
                      <img src="{{post.author.profile_picture.url}}" alt="Placeholder image" />
                    {% else %}
                      <img src="https://t4.ftcdn.net/jpg/00/64/67/27/360_F_64672736_U5kpdGs9keUll8CRQ3p3YaEv2M6qkVY5.jpg" alt="Placeholder image" />
                    {% endif %}
                  </figure>
                </div>
                
              <div class="media-content">
                <p class="title is-4">{{post.author.first_name}} {{post.author.last_name}}</p>
                <p class="subtitle is-6">@{{post.author.username}}</p>
              </div>
            </div>
        
            <div class="content">
              {{post.text}}
              <br />
              <time datetime="2016-1-1">{{post.created_at}}</time>
            </div>
          </div>

          {% if post.author == user %}
          <div class="card-content">        
            <div class="content">
                <a class="button is-link" href="{% url 'edit_post' post.pk%}">Edit</a>
                <a class="button is-danger" href="{% url 'delete_post' post.pk%}">Delete</a>
              </div>
            </div>
            {% endif %}
          </div>
      {% endfor %}
    </section>
    
    
{% endblock content %}
